{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>skim - {{template "title" .}}</title>
        <link rel="stylesheet" href="/static/css/reset.css">
    </head>
    <body>

    <header>
        <h1><a href="/">Skim</a></h1>
        <p id="si_01"></p>
    </header>
    <main>
        {{template "main" .}}
    </main>

    </body>

    </html>
{{end}}