{{define "title"}}edit{{end}}
{{define "main"}}
    <link rel="stylesheet" href="/static/css/edit.css">
    <main>
        <div id="initial-timeline-container">
            initial-timeline + button
        </div>
        <section>
            commit-vid timeline
        </section>
        <div>
            final-vid + button
        </div>
    </main>
{{end}}
