{{define "title"}}edit{{end}}
{{define "main"}}
<style>
    div.edit-space {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
</style>
<div class="edit-space">
    <style>
        section.timeline {
            display: flex;
            flex-direction: column;
            overflow-x: auto;
        }
    </style>
    <section class="timeline">
        <style>
            .vid-files-list {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                list-style: none;
            }
        </style>
        <ul class="vid-files-list">
            {{range .SplitVidFilePaths}}
            <li>
                <style>
                    div.vid-wrapper {
                        padding: 1rem;
                        background: aqua;
                    }
                </style>
                <div class="vid-wrapper">
                    <video
                            width="128"
                            controls
                            autoplay
                            loop
                            muted
                    >
                        <source src="{{.}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </li>
            {{end}}
        </ul>
    </section>

    <style>
        section.scripting-space {
            background: pink;
            flex-grow: 1;

            display: flex;
            flex-direction: column;
        }

        section.scripting-space button {
            width: min-content;
            padding: 1rem;
            font-size: 2rem;
            margin-left: 1rem;
            margin-top: 1rem;
        }
    </style>
    <section class="scripting-space">
        <button>select</button>
        <p>
            scripting space
        </p>
    </section>
</div>
<script type="text/javascript">
    const colorBlue = "rgb(0, 0, 255)"
    const colorAqua = "rgb(0, 255, 255)"
    const colorGrey = "rgb(97, 97, 97)"
    let isMouseDown = false;
    let selectedElements = [];

    let vidElements = document.querySelectorAll("div.vid-wrapper");

    vidElements.forEach(function (e) {
        e.addEventListener("mousedown", function () {
            isMouseDown = true;
            toggleSelection(e);
        });

        e.addEventListener("mouseover", function () {
            if (isMouseDown) {
                toggleSelection(e);
            }
        });
    });

    document.addEventListener("mouseup", function () {
        isMouseDown = false;
    });

    function toggleSelection(element) {
        if (element.style.backgroundColor === colorBlue) {
            element.style.backgroundColor = colorAqua;
            const index = selectedElements.indexOf(element);
            if (index > -1) {
                selectedElements.splice(index, 1);
            }
            return
        }

        if (selectedElements.length >= 4) {
            return
        }

        element.style.backgroundColor = colorBlue;
        selectedElements.push(element);
    }

    let button = document.querySelector("section.scripting-space button");
    button.addEventListener("click", function () {
        selectedElements.forEach(function (e) {
            e.style.backgroundColor = colorGrey;
        });
        selectedElements.sort(function (a, b) {
            const srcA = a.querySelector("video source").getAttribute("src");
            const srcB = b.querySelector("video source").getAttribute("src");
            return srcA.localeCompare(srcB);
        });
        selectedElements.forEach(function (e) {
            const srcAttr = e.querySelector("video source").getAttribute("src")
            console.log(srcAttr)
        })

        selectedElements = []
        console.log("==========")

    });

    document.addEventListener("click", function (event) {
        const timelineSection = document.querySelector("section.timeline");
        if (!timelineSection.contains(event.target)) {
            selectedElements.forEach(function (element) {
                element.style.backgroundColor = colorAqua;
            });
            selectedElements = [];
        }
    });
</script>
{{end}}