{{define "title"}}edit{{end}}
{{define "main"}}
<style>
    div.edit-space {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        padding-left: 10rem;
        position: relative;
    }
</style>
<div class="edit-space">
    <style>
        section.initial-timeline {
            display: flex;
            flex-direction: column;
            overflow-x: auto;
        }
    </style>
    <section class="initial-timeline">
        <style>
            ul.vid-files-list {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                list-style: none;
            }

            button.initial-timeline-select-btn {
                width: min-content;
                padding: 1rem;
                font-size: 2rem;
                margin-left: 1rem;
                margin-top: 1rem;

                position: absolute;
                left: 0;
            }
        </style>
        <div>
            <ul class="vid-files-list">
                {{range .SplitVidFilePaths}}
                <li>
                    <style>
                        div.vid-wrapper {
                            padding: 1rem;
                            background: aqua;
                        }
                    </style>
                    <div class="vid-wrapper">
                        <video
                                width="128"
                                controls
                                autoplay
                                loop
                                muted
                        >
                            <source src="{{.}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
        <button class="initial-timeline-select-btn">select</button>
    </section>

    <section class="committed-timeline">
        <style>
            ul.committed-vid-files-list {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                list-style: none;
            }

            ul.committed-vid-files-list div {
                background: #834a4a;
            }
        </style>
        <ul class="committed-vid-files-list"></ul>
    </section>

    <style>
        section.scripting-space {
            background: pink;
            flex-grow: 1;

            display: flex;
            flex-direction: column;
        }
    </style>
    <section class="scripting-space">
        <p>
            scripting space
        </p>
    </section>
</div>
<script src="/static/js/stitchVids.js"></script>
<script src="/static/js/updateDOM.js"></script>
{{end}}