{{define "title"}}home{{end}}
{{define "main"}}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" id="input-file" name="filename">
        <div class="submit-container">
            <input class="submit" type="submit">
        </div>
    </form>
{{end}}